.button{
    border: 1px solid white;
    display: inline;
    cursor: pointer;
    padding: 16px;

}

.navbar{
    background-color: black;
    padding-left: 6rem;
    padding-right: 6rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

li {
    display: block;
    text-align: center;
    padding: 16px;
    cursor: pointer;
  }